.window__contents {
  margin-left: 70px;
}

.content {
  width: 100%;
  float: left;
  display: none;
}

.active {
  display: block;
}

.content__header {
  background: #FFF;
  border-bottom: 1px solid #ddd;
  padding: 15px;
  -webkit-app-region:drag;
}

.content__header strong {
  color: #2a273b;
}

.content__box {
  box-shadow: 0 5px 20px #ccc;
  float: left;
  width: 46%;
  margin: 2%;
  color: #000;
  background: #FFF;
  padding: 20px;
  word-break: break-all;
  border-top: 3px solid #D64273;
  border-radius: 3px;
  min-height: 116px;
}

.content__box--full {
  width: 96%;
}

.content__box svg {
  float: right;
  fill: #CCC;
  width: 15px;
}

.box__area {
  border: 1px solid #f5f5f5;
  margin-top: 15px;
  overflow-y: scroll;
  max-height: 200px;
  padding: 10px;
}