* {
  box-sizing: border-box;
}

body, html {
  background: #24213A;
  font-family: helvetica;
  height: 100%;
  margin: 0px;
}

button {
  outline: none;
}

.window {
  height: 100%;
}


.sidebar {
  position: relative;
  height: 100%;
  background: #282442;
  width: 75px;
  z-index: 2;
}

.sidebar svg {
  fill: #FFF;
}

.sidebar__item {
  background-color: transparent;
  border: none;
  height: 70px;
  width: 100%;
  padding: 20px 10px;
  text-align: center;
  cursor: pointer;
}

.sidebar__item:hover {
  background: #D64273
}